/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.consolas {
    display: flex;
    justify-content: center; /* Centra las consolas horizontalmente */
    flex-wrap: wrap; /* Permite que las consolas se envuelvan si no caben en una sola fila */
    margin-top: 20px; /* Añade espacio arriba de las consolas */
}

.consola {
    flex: 0 0 auto; /* Tamaño automático */
    width: calc(20% - 20px); /* Ancho máximo del 20% del contenedor, con un pequeño margen */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px; /* Espacio entre las consolas */
    text-align: center; /* Centra el contenido dentro de las consolas */
}

.timer {
    font-size: 24px;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Espacio superior para los controles */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px; /* Aumento del tamaño del botón */
    margin: 5px;
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .consola {
        width: calc(50% - 20px); /* Ancho máximo del 50% del contenedor en dispositivos móviles */
    }
    
    .container {
        padding: 10px; /* Ajuste del espacio interior en dispositivos móviles */
    }
    
    h1 {
        font-size: 24px; /* Tamaño de la fuente del encabezado en dispositivos móviles */
    }
    
    .controls {
        flex-direction: column; /* Cambia la dirección de los controles a columna en dispositivos móviles */
    }
    
    button {
        margin: 5px 0; /* Espaciado vertical entre los botones en dispositivos móviles */
        width: 100%; /* Ancho completo para los botones en dispositivos móviles */
    }
}
